<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout</title>
        <style>
            body, h1, p{
                margin:0;
                padding:0;
            }
            #block1{
                background-color: lightblue;
            }
            #block2{
                background-color: lightpink;
            }
            #block3{
                background-color: limegreen;
            }
            div{
                width: 500px;
                margin:10px; 
                padding: 20px 20px 20px 20px;
            }
        </style>
    </head>

    <body>
        <div id="block1">
            <h1>Heading 1</h1>
            <p>Paragraph 1 -HONOLULU-- It was high-tech robbery -- the theft and sale of
            long-distance telephone service. Seventeen people in 13 states were arrested Monday. The charge: conspiracy to commit access device fraud and wire fraud. The victims: U.S. Sprint, MCI Corp., Allnet Corp.,ITT, Tri-Tel Communications. Their loss: a reported $125 million in the past year. Steve Ramsay of the Secret Service said those charged sold access codes for $80 to $150 a month. An access code -- a telephone credit card number-- allows callers to A Heading use long-distance phone lines.</p>
        </div>

        <div id="block2">
            <h1>Heading 2</h1>
            <p>Coffee is usaully brewed immediately before drinking. In most areas, coffee may be purchased unprocessed, or already roasted, or already roasted and ground. Coffee is often vacuum packed to prevent oxidation and lengthen its shelf life.</p>
        </div>

        <div id="block3">
            <h1>Heading 3</h1>
            <p>Calls were billed to that card number.
            The distributors often sold one code to hundreds, maybe thousands of
            people, Ramsey said. Charged to one number in four days: $73,592.  According to Assistant U.S. Attorney Robert Godbey: Computers were programmed to call the companies' long distance networks, then enter a creditcard number to pay for the call. If the number was rejected, the computer kept dialing until one was accepted. The successful number then was sold. whoever was assinged the number, got the bill. "It was the miracle of technology,the computer took a simple chore and did it over and over and over," he said.</p>
        </div>
    </body>
</html>